<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contato.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @contato.idade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @contato.estado %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @contato.cargo %>
</p>

<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
